@import "tailwindcss";
/* @import url("https://fonts.cdnfonts.com/css/pp-neue-montreal"); */

@font-face {
  font-family: "Game Pixel";
  src: url("./assets/GomePixel-ARJd7.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  background-color: oklch(20.5% 0 0);
  font-family: "PP Neue Montreal", sans-serif;
}

.pixelFont {
  font-family: "Game Pixel", sans-serif;
}
