@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import "tailwindcss";
/* @import url("https://fonts.cdnfonts.com/css/pp-neue-montreal"); */

@font-face {
  font-family: "Game Pixel";
  src: url("./assets/GomePixel-ARJd7.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  /* background-color: oklch(20.5% 0 0); */
  background-color: black;
  color: white;
  font-family: "PP Neue Montreal", sans-serif;
}

.pixelFont {
  font-family: "Game Pixel", sans-serif;
}

.ibmFont {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 200;
  font-style: normal;
}
